<!--
 * @Description  : 
 * @Author       : pacino
 * @Date         : 2021-05-20 16:11:35
 * @LastEditTime : 2021-05-20 17:42:21
 * @LastEditors  : pacino
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 
        浏览器收到响应，自上而下进行解析
        注意：在服务器中，文件中的路径就不要去写相对路径了。
        因为这个世界所有的资源都是通过 url 标识来获取的
        我的服务器开放了 /public/ 目录
        所以这里的请求路径都写成: /public/xxx
     -->
    <link rel="stylesheet" href="/public/lib/bootstrap.css"
</head>
<body>
    <div class="header container">
        <div class="page-header">
            <h1>Example page header <small>Subtxt for header</small></h1>
            <a class="btn btn-success" href="post.html">发表留言</a>
        </div>
    </div>
    <div class="components container">
        <ul class="list-group">
            <li class="list-group-item">11111</li>
            <li class="list-group-item">2222</li>
            <li class="list-group-item">3333</li>
            <li class="list-group-item">4444</li>
            <li class="list-group-item">5555</li>
            <li class="list-group-item">6666</li>
            <li class="list-group-item">7777</li>
            <li class="list-group-item">888</li>
        </ul>
    </div>
    <script src="/public/js/main.js"></script>
</body>
</html>